@mixin about-layout {
  @include grid-column(12);

  @include grid-media($almost-tablet-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }
}
#about {
  @include grid-container;

  .intro {
    @include about-layout;
    @include light-text;

    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    
    strong {
      font-weight: bold;
    }
  }

  h3 {
    @include about-layout;
    @include bold-text;

    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .privacy, .questions, .source {
    @include about-layout;
    @include light-text;

    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;

    a {
      color: $primary;
      &:hover {
        color: $primary-hl;
        text-decoration: underline;
      }
    }
  }
}
