#commands {
  .input {
    @include grid-column(10);
    @include grid-push(1);

    margin-top: 15px;

    @media screen and (min-width: 1000px) {
      @include grid-column(6);
    }
  }

  div.commands {
    @include grid-container;
    
    &:last-child {
      margin-bottom: 30px;
    }

    div.command {
      @include grid-column(12);
      @include light-text;

      @include grid-media($desktop-grid) {
        @include sink;
        @include grid-column(8);
        @include grid-push(2);

        border-bottom: none;
      }

      margin-top: 15px;
      background-color: #f9f9f9;

      border-bottom: 2px solid $primary;


      .info {
        width: 100%;

        text-align: center;
        height: 100%;

        @include grid-media($tablet-grid) {
          @include grid-column(3);
        }

        div {
          @include grid-column(1, $commands-info-grid);

          @include grid-media($tablet-grid) {
            @include grid-column(1, $commands-layout-grid);
          }

          margin-left: 0px;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .namespace {
          margin-left: 0px;
          background-color: $primary;
          color: $off-white;
          text-align: center;
        }

        .name {
          background-color: $primary-hl;
          margin-left: 0px;
          color: $off-white;
        }
      }

      .description {
        @include grid-column(1, $commands-layout-grid);

        @include grid-media($tablet-grid) {
          @include grid-column(9);
          margin: 5px 10px;
        }

        color: $off-black;
        margin: 15px 15px;
        padding: 5px 5px;
        
        p {
          margin: 0px;
        }
      }
    }
  }
}
