body {
  min-height: 100vh !important;

  color: $off-black;
  background-color: $off-white;
  max-width: 100vw;

  .content-container {
    @include grid-container;

    max-width: 1000px;
    margin: 0 auto;
  }
}

a {
  color: $off-black;
  text-decoration: none;
  &:visited {
    color: $off-black;
  }
}

.loading, .hidden {
  display: none;
}
