@mixin info-text {
  @include light-text;
  @include grid-column(6);
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#guilds {
  .input {
    @include grid-column(10);
    @include grid-push(1);


    @media screen and (min-width: 1000px) {
      @include grid-column(6);
    }
  }

  div.guilds {
    @include grid-container;
    @include no-link-decoration;

    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;

    .guild {
      @include grid-column(12);

      @include grid-media($almost-tablet-grid) {
        @include grid-column(6);
      }

      @include grid-media($desktop-grid) {
        @include sink;
        @include grid-column(4);
      }

      background-color: #f9f9f9;
      border-bottom: 2px solid $primary;

      margin-top: 15px;

      &:hover {
        border-bottom: 2px solid $primary-hl;
      }

      .guild-header {
        @include grid-container;

        .icon {
          @include grid-column(3);
          margin-top: 5px;
          border-radius: 50px;
          width: 64px;
          height: 64px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }


        h2 {
          @include grid-column(9);
          @include bold-text;

          line-height: 28px;

          text-align: center;
          padding: 5px 5px 0px 5px;
          padding-right: 5px;
          margin: 0px;
        }
      }

      .guild-details {
        text-align: center;
        margin-bottom: 5px;
        margin-top: 10px;
        
        .region {
          @include info-text;
        }

        .EU-CENTRAL, .EU-WEST { 
          &:before {
            content: "\01F1EA\01F1FA";
          }
        }
        .US-SOUTH, .US-EAST, .US-WEST, .US-CENTRAL {
          &::before {
           content: "\01F1FA\01F1F8"; 
          }
        }
        .HONGKONG::before { content: "\01F1ED\1F1F0"; }
        .SYDNEY::before { content: "\01F1E6\1F1FA"; }
        .BRAZIL::before { content: "\01F1E7\1F1F7"; }
        .RUSSIA::before { content: "\01F1F7\1F1FA"; }
        .JAPAN::before { content: "\01F1EF\1F1F5"; }
        .SINGAPORE::before { content: "\01F1F8\1F1EC"; }

        .roles-length {
          @include info-text;
        }

        .emoji-length {
          @include info-text;
        }
      }
    }
  }
}
