@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(-20px);
  }
}

#home {
  @include grid-media($desktop-grid) {
    @include grid-column(6);
    margin-left: 0px;
    margin-top: 15vh;
  }

  @include grid-column(8);
  @include grid-push(2);
  margin-top: 20vh;

  text-align: center;

  #brand-image {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
    -webkit-animation: mover 1.5s infinite alternate;
    animation: mover 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  h1 { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  p {
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  #invite-button {
    color: $off-white;
    background-color: $primary;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;

    width: 70%;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 5px;
    display: block;

    &:hover {
      background-color: $primary-hl;
    }
  }
}
