#navbar {
  @include grid-container;
  max-width: 1000px;
  margin: 0 auto;
  height: 40px;

  color: $off-black;
  background-color: $primary;
  width: 100%;

  @media screen and (min-width: 1000px) {
    margin-top: 15px;
    width: auto;
    background-color: $off-white;
    padding-bottom: 5px;
  }

  #brand-home {
    @media screen and (min-width: 1000px) {
      display: flex !important;
      height: 50px;
    }

    display: none !important;
  }

  #brand, #brand-home {
    @media screen and (min-width: 1000px) {
      @include grid-column(3); 
      @include no-link-decoration;

      font-family: 'Open Sans', sans-serif;
      font-weight: 700;

      height: 40;
      line-height: 40px;
      margin-top: 0px;
      display: flex;
      align-items: center;
    }
  }

  div {
    text-align: center;

    .nav-links, .nav-links-loading {
      @include horizontal-list;

      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      width: 99%;
      margin: 0 auto;

      margin-top: 0px;
      padding-left: 0px;
      height: 40px;
      line-height: 40px;

      overflow: auto;
      white-space: nowrap;

      justify-content: space-between;

      .link {
        text-align: center !important;

        a {
          outline: none;
          color: $off-white;
          text-align: center !important;
          font-size: 18px;
          text-decoration: none;
          padding-left: 0px;
        }
      }

      @media screen and (min-width: 1000px) {
        @include grid-column(5);
        float: right;
        align-items: center;
        height: 50px;
        font-size: 18px;
      
        .active {
          padding-bottom: 1px !important;

          &:before {
            content: none;
            display: none;
          }
         }
         
        .link {
          @include underline-from-left;
          @include no-link-decoration;
          padding-right: 2px;

          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          text-align: center;

          padding-bottom: 3px;

          a {
            color: $off-black;
            &:hover {
              background-color: $off-white;
            }
          }
        }

        .active {
          @include no-link-decoration;
          padding-right: 2px;
          padding-bottom: 2px;
          border-bottom: 2px solid $primary;
        }

      }
    }
  }
}
