// COLORS
$off-white: #fdfdfd;
$off-white-sh: #f7f7f7;
$off-black: rgba(0, 0, 0, 0.8);

$primary: #e52b50;
$primary-hl: #e9516f;


////////////////////////
// Mobile

$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(max-width 767px);
$desktop: new-breakpoint(min-width 768px);

$nav-color: #1F2227;

$desktop-grid: (
  columns: 12,
  media: 1000px,
);

$tablet-grid: (
  columns: 12,
  media: 700px,
);

$almost-tablet-grid: (
  columns: 12,
  media: 530px,
);

$mobile-grid: (
  columns: 7,
  gutter: 10px,
);

$custom-grid--sixths: (
  columns: 7,
  gutter: 0,
);


$custom-grid--twelths: (
  columns: 12,
  gutter: 0,
);

$commands-layout-grid: (
  columns: 1
);

$commands-info-grid: (
  columns: 2,
  gutter: 0,
);

////////////////////////
// For Hover

$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

$mediumDuration: .3s !default;
$activeColor: $primary;
